global
    log         127.0.0.1 local2

defaults
    timeout connect         5000ms
    timeout client          5000ms
    timeout server          5000ms

resolvers docker_dns
    nameserver dns "127.0.0.11:53"
    timeout retry  1s
    hold valid 1s

listen tcp_proxy
    mode tcp
    bind :23456
    log global
    server  app_1 phpcli_php_1:23456 check resolvers docker_dns resolve-prefer ipv4
    server  app_2 phpcli_php_2:23456 check resolvers docker_dns resolve-prefer ipv4
    server  app_3 phpcli_php_3:23456 check resolvers docker_dns resolve-prefer ipv4
    server  app_4 phpcli_php_4:23456 check resolvers docker_dns resolve-prefer ipv4
    server  app_5 phpcli_php_5:23456 check resolvers docker_dns resolve-prefer ipv4
    server  app_6 phpcli_php_6:23456 check resolvers docker_dns resolve-prefer ipv4
    server  app_7 phpcli_php_7:23456 check resolvers docker_dns resolve-prefer ipv4
    server  app_8 phpcli_php_8:23456 check resolvers docker_dns resolve-prefer ipv4
    server  app_9 phpcli_php_9:23456 check resolvers docker_dns resolve-prefer ipv4
    server  app_10 phpcli_php_10:23456 check resolvers docker_dns resolve-prefer ipv4
    server  app_11 phpcli_php_11:23456 check resolvers docker_dns resolve-prefer ipv4
    server  app_12 phpcli_php_12:23456 check resolvers docker_dns resolve-prefer ipv4
    server  app_13 phpcli_php_13:23456 check resolvers docker_dns resolve-prefer ipv4
    server  app_14 phpcli_php_14:23456 check resolvers docker_dns resolve-prefer ipv4
    server  app_15 phpcli_php_15:23456 check resolvers docker_dns resolve-prefer ipv4
    server  app_16 phpcli_php_16:23456 check resolvers docker_dns resolve-prefer ipv4
    server  app_17 phpcli_php_17:23456 check resolvers docker_dns resolve-prefer ipv4
    server  app_18 phpcli_php_18:23456 check resolvers docker_dns resolve-prefer ipv4
    server  app_19 phpcli_php_19:23456 check resolvers docker_dns resolve-prefer ipv4
    server  app_20 phpcli_php_20:23456 check resolvers docker_dns resolve-prefer ipv4
